.txt20_bold {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  @media (max-width: 48rem) {
    font-size: 3.2rem;
  }
}

.txt18 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 133.333%;
  color: white;
  @media (max-width: 48rem) {
    font-size: 2.8rem;
    line-height: 140%;
  }
}

.txt18_bold {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.444%;
  @media (max-width: 48rem) {
    font-size: 2.8rem;
    line-height: 140%;
  }
}

.txt22 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 136.364%;
  @media (max-width: 48rem) {
    font-size: 2.8rem;
    line-height: 140%;
  }
}

.txt36-days {
  color: var(--Black, #15161a);
  font-family: "Days One";
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  @media (max-width: 48rem) {
    font-size: 4.4rem;
    line-height: 140%;
  }
}

.txt16 {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 80%;
  @media (max-width: 48rem) {
    font-size: 2.8rem;
  }
}

.txt18-days {
  color: #fff;
  font-family: "Days One";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  @media (max-width: 48rem) {
    font-size: 3.2rem;
  }
}

.txt24-days {
  font-family: "Days One";
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  @media (max-width: 48rem) {
    font-size: 3.6rem;
  }
}
