.account-back {
  background-image: url(../../assets/images/back-acc.png);
  @media (max-width: 48rem) {
    background-image: url(../../assets/images/back-acc-mob.png);
  }
}

.account__content {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  @media (max-width: 48rem) {
    gap: 6.4rem;
  }
}

.account__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 48rem) {
    flex-direction: column;
    gap: 6.4rem;
    align-items: start;
  }
}

.account__block-form {
  background-image: url(../../assets/images/back1-acc-data.png);
  border-radius: 3.2rem;
  padding: 3.2rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media (max-width: 48rem) {
    border-radius: 3.2rem;
    padding: 2.8rem;
    position: relative;
    background-image: url(../../assets/images/acc-form-back-mob.png);
  }
}

.account__form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  @media (max-width: 48rem) {
    gap: 4.8rem;
  }
}

.account__form .btn {
  @media (max-width: 48rem) {
    width: 100%;
  }
}

.account__form-btns_box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @media (max-width: 48rem) {
    height: 8.8rem;
  }
}

.account__form-btns {
  display: flex;
  gap: 2.4rem;
  @media (max-width: 48rem) {
    overflow: auto;
    gap: 1.6rem;
    position: absolute;
    width: calc(100% - 2.8rem);
    scrollbar-width: none;
  }
}

/* Для WebKit-браузеров (Chrome, Safari, Edge) */
.account__form-btns::-webkit-scrollbar {
  display: none;
}

.account__form-btn {
  border-radius: 100px;
  height: 4.3rem;
  padding: 0rem 2.2rem;
  border: 2px solid rgba(155, 233, 49, 0.4);
  display: flex;
  align-items: center;
  @media (max-width: 48rem) {
    height: 8.8rem;
    flex: 0 0 max-content;
    padding: 0rem 3.6rem;
  }
}

.account__form-btn.active {
  background-color: #9be931;
}

.account__form-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  @media (max-width: 48rem) {
    gap: 5.6rem;
  }
}

.account__form-item {
  display: flex;
  gap: 2.8rem;
  @media (max-width: 48rem) {
    flex-direction: column;
    gap: 5.6rem;
  }
}

.account__form-top {
  display: flex;
  justify-content: space-between;
  @media (max-width: 48rem) {
    flex-direction: column;
    gap: 3.2rem;
  }
}
