.main {
  width: 100%;
}

.main__workflow {
  width: 100%;
  background-color: #ffffff;
  border-radius: 6rem;
  padding-top: 18rem;
  padding-bottom: 18rem;
  display: flex;
  flex-direction: column;
  gap: 18rem;

  @media (max-width: 48em) {
    border-radius: 4.8rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
    gap: 20rem;
  }
}
